main{
    display: grid;
    .video-grid{
        --gap:40px;
        --num-cols: 4;
        --row-height: 300px;
    
        box-sizing: border-box;
        padding: var(--gap);
    
        display: grid;
        grid-template-columns: repeat(var(--num-cols), 1fr);
        grid-auto-rows: var(--row-height);
        gap: var(--gap);
    }
    .video-grid > iframe{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


